<!DOCTYPE html>
<html>
<head>
  <title>RubyFilm</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <div id="title_name">
      <h1>RubyFilm</h1>
    </div>
    <nav>
        <% if user_signed_in? %>    
            <ul>
                <li>
                    <a href="<%  %>">Espace Utilisateur</a>
                </li>
                <li>
                    <a href="<%  %>">Se déconnecter</a>
                </li>
            </ul>
        <% else %>
            <ul>
                <li>
                    <a href="">Se connecter</a>
                </li>
                <li>
                    <a href="<%=  %>">S'enregistrer</a>
                </li>
            </ul>
        <% end %>
    </nav>
</header>


<%= yield %>

</body>
</html>
