<div id="searchbar">
    <%= form_tag("/", method: "get") do %>
        <%= text_field_tag(:query, nil, :placeholder => "Entrez le nom d'un film") %>
    </br><%= button_tag("Rechercher") %>
    <% end %>
</div>

<% if params[:query].present? %>
    <h1 class="title"> Résultats :</h1>
    <% @search.each do |result| %>
        <div class="content">
            <a class="links" href="/film/<%= result.id %>">
                <p class="film_title"><%= result.title %></p>
                <% if result.poster_path %>
                    <%= image_tag( "http://image.tmdb.org/t/p/w154" + result.poster_path) %><br/><br/>
                <% end %>
            </a>
          <div id="vu">
            <% if (current_user && @link_film.nil?) || (current_user && @link_film.status == false) %>
                <%= form_tag( links_url, :method => "post" ) do %>
                    <%= hidden_field_tag 'user_id', current_user.id %>
                    <%= hidden_field_tag 'name', result.title %>
                    <%= hidden_field_tag 'film_id', result.id %>
                    <%= hidden_field_tag 'status', "1" %>
                    <%= hidden_field_tag 'description', result.overview %>
                    <%= hidden_field_tag 'url', result.poster_path  %>
                    <%= submit_tag 'Vu', name: 'a_button' %>
                <% end %>
            <% elsif current_user && @link_film.status == true %>
                <%= form_tag( links_url, :method => "post" ) do %>
                    <%= hidden_field_tag 'film_id', result.id %>
                    <%= hidden_field_tag 'status', "0" %>
                    <%= submit_tag 'Pas vu', name: 'a_button' %>
                <% end %>
            <% end %>
          </div></br>
        </div><br/>
    <% end %>
<% else %>
    <h1 class="title"> Popular : </h1>
    <% @popular.first(10).each do |result| %>
        <div class="content">
            <a class="links" href="/film/<%= result.id %>">
                <p class="film_title"><%= result.title %></p>
                <% if result.poster_path %>
                    <%= image_tag( "http://image.tmdb.org/t/p/w154" + result.poster_path) %><br/><br/>
                <% end %>
            </a>
          <div id="vu">
            <% if (current_user && @link_film.nil?) || (current_user && @link_film.status == false) %>
                <%= form_tag( links_url, :method => "post" ) do %>
                    <%= hidden_field_tag 'user_id', current_user.id %>
                    <%= hidden_field_tag 'name', result.title %>
                    <%= hidden_field_tag 'film_id', result.id %>
                    <%= hidden_field_tag 'status', "1" %>
                    <%= hidden_field_tag 'description', result.overview %>
                    <%= hidden_field_tag 'url', result.poster_path  %>
                    <%= submit_tag 'Vu', name: 'a_button' %>
                <% end %>
            <% elsif current_user && @link_film.status == true %>
                <%= form_tag( links_url, :method => "post" ) do %>
                    <%= hidden_field_tag 'film_id', result.id %>
                    <%= hidden_field_tag 'status', "0" %>
                    <%= submit_tag 'Pas vu', name: 'a_button' %>
                <% end %>
            <% end %>
          </div></br>
        </div><br/>
    <% end %>
<% end %>
