<div id="searchbar">
    <%= form_tag("/", method: "get") do %>
        <%= text_field_tag(:query, nil, :placeholder => "Entrez le nom d'un film") %>
    </br><%= button_tag("Rechercher") %>
    <% end %>
</div>

<% if params[:query].present? %>
    <h1 class="title"> Résultats :</h1>
    <% @search.each do |result| %>
        <div class="content">
            <a class="links" href="/film/<%= result.id %>">
                <p class="film_title"><%= result.title %></p>
                <% if result.poster_path %>
                    <%= image_tag( "http://image.tmdb.org/t/p/w154" + result.poster_path) %><br/><br/>
                <% end %>
            </a>
        </div><br/>
    <% end %>
<% else %>
    <h1 class="title"> Popular : </h1>
    <% @popular.first(10).each do |result| %>
        <a class="links" href="/film/<%= result.id %>">
            <%= result.title %><br/></br>
            <% if result.poster_path %>
                <%= image_tag( "http://image.tmdb.org/t/p/w154" + result.poster_path) %><br/><br/>
            <% end %>
        </a>
    <% end %>
<% end %>
